ion-header {
    height: 80px;
  
    ion-menu-button {
      position: absolute;
      right: 40px;
      top: 20px;
      size: 20em;
  
    }
  
    ion-title {
      background-color: #004D4D;
      color: #ffff;
      font-family: TexGyreHeros;
      text-align: left;
      font-size: 2em;
      padding-left: 40px;
    }
  
  }
  
  .title-div {
    position: relative;
    margin-bottom: 80px;
    margin-top: 20px;
    z-index: 2;
    text-align: left;
  
    ion-title {
  
  
      font-family: TexGyreHeros;
      padding: 0%;
      padding-left: 20px;
      padding-top: 10px;
      text-align: left;
      font-size: 2em;
      color: #004D4D;
  
  
    }
  }
  
  .text-div {
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
    padding-right: 10px;
  
  
    ion-text {
      font-family: Raleway;
      font-size: 1.19em;
    }
  }
  
  ion-button {
    margin-top: 10px;
    margin-bottom: 10px;
    border: #ffff;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    --background: #CD7E3A;
    --background-activated: #a86a33;
    --background-focused: #CD7E3A;
    font-size: 1.1em;
  }