<app-menu></app-menu>
<div class="ion-page" id="main-content">
  <app-header></app-header>
  <ion-content class="ion-padding">
    <div>
      <app-top-part title='New Event'></app-top-part>
    </div>
    <div class="ion-padding">
      <form #log="ngForm" (ngSubmit)="onCreate()" novalidate>
        <div class="input-div">
          <ion-label class="subtext">Event name</ion-label>
          <ion-item>
            <ion-input [(ngModel)]="name" name="name" required placeholder="Piece name"></ion-input>
          </ion-item>
        </div>
        <div class="input-div">
          <ion-label class="subtext">Event date</ion-label>
          <ion-item>
            <ion-input [(ngModel)]="date" name="date" required placeholder="YYYY-MM-DD"></ion-input>
          </ion-item>
        </div>
        <div class="input-div">
          <ion-label class="subtext">Event description</ion-label>
          <ion-item>
            <ion-input [(ngModel)]="description" name="description" required
              placeholder="Description"></ion-input>
          </ion-item>
        </div>
        <div class="input-div">
          <ion-label class="subtext">Event category</ion-label>
          <ion-item>
            <ion-input [(ngModel)]="category" name="category" required placeholder="Category"></ion-input>
          </ion-item>
        </div>
        <ion-button type="submit">Create</ion-button>
      </form>
    </div>
  </ion-content>
</div>