ion-header {
  height: 80px;
  background-color: #004D4D;

  ion-menu-button {
    position: absolute;
    right: 40px;
    top: 30px;
    size: 20em;
  }

  ion-title {
    color: #ffff;
    font-family: TexGyreHeros;
    text-align: left;
    font-size: 2em;
    padding-left: 40px;
    padding-top: 5px;
  }

}