ion-header {
  height: 80px;

  ion-menu-button {
    position: absolute;
    right: 40px;
    top: 20px;
    size: 20em;

  }

  ion-title {
    background-color: #004D4D;
    color: #ffff;
    font-family: TexGyreHeros;
    text-align: left;
    font-size: 2em;
    padding-left: 40px;
  }

}