<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content class="ion-padding">
  <app-top-part title='Acerca de'></app-top-part>
  <div class="logo-container">
    <img src="../../../assets/images/rincon.png" class="logo-img" onclick="window.location.href='https://www3.gobiernodecanarias.org/medusa/edublog/ieselrincon/'">
  </div>
  
  <p align="center" class="centered-text">Proyecto realizado en el período de prácticas del IES El Rincón en el 2º CFGS Informática y Comunicaciones - Desarrollo de Aplicaciones Multiplataforma (LOE).</p>

  <div class="members-container">
    <h2>Miembros creadores:</h2>
    <ul>
      <li>Pablo Hernández Marrero</li>
      <li>José Iván Santana Pérez</li>
      <li>Nadia Vega González</li>
    </ul>
    <h2>Tutor de prácticas:</h2>
    <ul>
      <li>Juan Manuel Monche</li>
    </ul>
    <h2>Tutor del curso:</h2>
    <ul>
      <li>Alberto Alemán</li>
    </ul>
  </div>
</ion-content>
