ion-button {
  margin-top: 40px;
  margin-bottom: 70px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  --background: #CD7E3A;
  --background-activated: #a86a33;
  --background-focused: #CD7E3A;
  font-size: 1.2em;
  max-width: 200px;
}

ion-searchbar {
  font-family: Raleway;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ion-row {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-top: 2em;

  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}