<app-menu></app-menu>

<div class="ion-page" id="main-content">
  <app-header></app-header>
  <ion-content class="ion-padding">
    <div>
      <app-top-part title="Musicians"></app-top-part>
      <ion-searchbar [(ngModel)]="filterTerm" name="filterTerm"></ion-searchbar>
    </div>
    <ion-row class="cards-container" *ngFor="let m of musicians | filter:filterTerm">
      <app-card [element]=m type="musician"></app-card>
    </ion-row>
    <ion-button *ngIf="isLoggedIn" expand="full" (click)="createMusician()">Create</ion-button>
  </ion-content>
</div>

<app-tab></app-tab>