ion-button {
  margin-top: 40px;
  margin-bottom: 30px;
  display: block;

  --background: #CD7E3A;
  --background-activated: #a86a33;
  --background-focused: #CD7E3A;
  font-size: 1.2em;

  font-family: Raleway;

}

ion-title {
  background-color: #004D4D;
  color: #ffff;
  font-family: TexGyreHeros;
  text-align: center;
  font-size: 2em;
}

ion-header {
  height: 80px;
}

.border-div {
  border-bottom: 1px solid #ffff;

}

ion-menu {
  --background: #004D4D;
}

ion-content {
  --background: #004D4D;
}

.item-div {
  text-align: center;
  padding: 10px;

  .item {
    --background: #004D4D;
    --background-hover: #ffff;
    --background-activated: #ffff;
    --background-focused: #ffff;
    --color: #ffff;
    font-family: Raleway;
    text-align: right;
    font-size: 1.5em;
  }

  .highlighted {
    --background: #004D4D;
    --background-hover: #ffff;
    --background-activated: #ffff;
    --background-focused: #ffff;
    --color: #f7b47a;
    font-family: Raleway;
    text-align: right;
    font-size: 1.5em;
  }

}

.item {
  --background: #004D4D;
  --background-hover: #ffff;
  --background-activated: #ffff;
  --background-focused: #ffff;
  --color: #ffff;
  font-family: Raleway;
  text-align: right;
  font-size: 1.5em;
}

.highlighted {
  --background: #098181;
  --background-hover: #ffff;
  --background-activated: #ffff;
  --background-focused: #ffff;
  --color: #f78017;
  font-family: Raleway;
  text-align: right;
  font-size: 1.5em;
}


ion-icon {
  padding-right: 20px;
}