ion-header {
  height: 80px;

  ion-menu-button {
    position: absolute;
    right: 40px;
    top: 20px;
    size: 20em;
  }

  ion-title {
    background-color: #004D4D;
    color: #ffff;
    font-family: TexGyreHeros;
    text-align: left;
    font-size: 2em;
    padding-left: 40px;
  }

}

ion-searchbar {
  font-family: Raleway;
}

.cards-container {
  display: flex;
  justify-content: center;
}

.title-div {
  position: relative;
  margin-bottom: 80px;
  margin-top: 20px;
  z-index: 2;
  text-align: left;

  ion-title {
    font-family: TexGyreHeros;
    padding: 0%;
    padding-left: 40px;
    padding-top: 10px;
    text-align: left;
    font-size: 2em;
    color: #004D4D;

  }
}

.item-info {
  vertical-align: top;

}

ion-button {
  margin-top: 40px;
  margin-bottom: 70px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  --background: #CD7E3A;
  --background-activated: #a86a33;
  --background-focused: #CD7E3A;
  font-size: 1.2em;
  max-width: 200px;
}

.delete-button {
  z-index: 2;
  max-width: 130px;
}

.item-title {
  font-family: TexGyreHeros;

  color: #098181;
}

img {
  border-radius: 8px;
  max-width: 150px;
  padding: 10px;
  padding-bottom: 30px;
}

ion-card {
  ion-card-title {
    font-family: Raleway;
    text-align: left;
    padding-right: 20px;
    color: #098181;
    font-size: 1.5em;
  }

  ion-card-subtitle {
    font-family: Raleway;
    font-size: 1.19em;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ion-row {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-top: 2em;

  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}