<ion-card (click)="goToOne(element.id)" button="true">
  <ion-row>
    <ion-col *ngIf="element.image">
      <img src="http://localhost:8000/storage/{{element.image}}" />
    </ion-col>
    <ion-col>
      <ion-card-header>
        <ion-card-title>{{element.name}}</ion-card-title>
        <div class="subtext">
          <ion-card-subtitle>{{element.date}}</ion-card-subtitle>
          <ion-card-subtitle>{{element.created_at}}</ion-card-subtitle>
        </div>
      </ion-card-header>
    </ion-col>
  </ion-row>
  <div class="buttons-div">
    <ion-button *ngIf="isLoggedIn" (click)="goToUpdate(element.id, $event)">
      <ion-icon name="create-outline"></ion-icon>
      Modificar
    </ion-button>
    <ion-button *ngIf="isLoggedIn" (click)="deleteElement(element.id, $event)">
      <ion-icon name="trash-bin-outline"></ion-icon>
      Eliminar
    </ion-button>
  </div>
</ion-card>