img {
  border-radius: 8px;
  max-width: 150px;
  padding: 10px;
}

ion-card {
  ion-card-title {
    font-family: Raleway;
    text-align: left;
    padding-right: 20px;
    color: #098181;
    font-size: 1.3em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 110px;
    overflow: hidden;
  }

  ion-card-title::first-letter {
    text-transform: uppercase;
  }

  ion-card-subtitle {
    font-family: Raleway;
    font-size: 1.08em;
    text-transform: lowercase;
    display: -webkit-box;
    max-width: 100px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  ion-card-subtitle::first-letter {
    text-transform: uppercase;
  }

  ion-button {
    --background: #098181;
    --background-activated: #043f3f;
    --background-focused: #043f3f;
    color: #ffff;
  }

  .subtext {
    padding-top: 15px;
  }

  .buttons-div {
    text-align: center;
    padding: 15px;

  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  img {
    border-radius: 8px;
    max-width: 250px;
    padding-left: 40px;

  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}