<ion-content [fullscreen]="true">
  <div class='circle'></div>
  <!-- <ion-img class="home-logo" src="../../assets/images/logo.jpg"></ion-img> -->
  <ion-slides (click)="goToEventlist()">
    <ion-slide>
      <ion-img src="assets/images/logo.jpg" alt="A"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img class="B" src="assets/images/A.png" alt="B"></ion-img>
    </ion-slide>
  </ion-slides>

  <div class='tap'>
    <ion-text (click)="goToEventlist()">Tap to start</ion-text>
  </div>

  <div class='circle2'></div>
  <div class='tap'>
    <ion-text class="logText" *ngIf="!isLoggedIn" (click)="goToLogin()">Log in as admin</ion-text>
    <ion-text class="logText" *ngIf="isLoggedIn" (click)="logOut()">Log out</ion-text>
  </div>
</ion-content>