#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.circle {
  background: #004D4D;
  border-radius: 50%;
  height: 15em;
  width: 15em;
  position: relative;
  right: 70px;
  bottom: 30px;
}

.circle2 {
  background: #004D4D;
  border-radius: 50%;
  height: 15em;
  width: 15em;
  position: relative;
  right: -290px;
  bottom: -50px;
}

.tap {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-top: 2em;
  text-align: center;
}

.home-logo {
  height: 15em;
  width: 15em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4em;
}

ion-text {
  font-family: Raleway;
  font-size: 1.6em;
}

.large-icon {
  font-size: 32px;
}


