<app-menu></app-menu>
<div class="ion-page" id="main-content">
  <app-header inApp=true></app-header>
  <ion-content class="ion-padding">
    <div>
      <app-top-part title="Login"></app-top-part>
    </div>
    <div class="ion-padding">
      <form #log="ngForm" (ngSubmit)="onLogin()" novalidate>
        <div class="input-div">
          <ion-label class="subtext">Email</ion-label>
          <ion-item>
            <ion-input [(ngModel)]="email" name="email" required placeholder="Enter your email"></ion-input>
          </ion-item>
        </div>
        <div class="input-div">
          <ion-label class="subtext">Password</ion-label>
          <ion-item>
            <ion-input [(ngModel)]="password" name="password" required placeholder="Enter your password"></ion-input>
          </ion-item>
        </div>

        <ion-button type="submit">Log in </ion-button>
      </form>
      <div class="text-div">
        <ion-text (click)="goToRegister()">Not registered yet? Register here!</ion-text>
      </div>
    </div>
  </ion-content>
</div>