ion-header {
  height: 80px;

  ion-menu-button {
    position: absolute;
    right: 40px;
    top: 20px;
    size: 20em;

  }

  ion-title {
    background-color: #004D4D;
    color: #ffff;
    font-family: TexGyreHeros;
    text-align: left;
    font-size: 2em;
    padding-left: 40px;
  }

}

.title-div {
  position: relative;
  margin-bottom: 80px;
  margin-top: 20px;
  z-index: 2;
  text-align: left;

  ion-title {


    font-family: TexGyreHeros;
    padding: 0%;
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
    font-size: 1.5em;
    color: #004D4D;
  }
}

.input-div {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.subtext {
  font-family: Raleway;
  text-align: center;

  color: #098181;
  font-size: 1.5em;
}

ion-input {
  margin-top: 40px;
}

.input-item {
  margin-left: 0%;
}

ion-button {
  margin-top: 80px;
  margin-bottom: 40px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  --background: #CD7E3A;
  --background-activated: #a86a33;
  --background-focused: #CD7E3A;
  font-size: 1.2em;
  max-width: 200px;
}