<div class="ion-padding">
  <div *ngIf="type!='Piece'" class="input-div-image">
    <ion-label class="subtext">{{type}} image</ion-label>
    <img *ngIf="!image " src="../../assets/No-Image-Placeholder.svg" alt="image" />
    <img *ngIf="image && !imageDisplayed" src="http://localhost:8000/storage/{{image}}" alt="image" />
    <img *ngIf="image && imageDisplayed" [src]="imageDisplayed" alt="image" />
    <ion-row class="ion-align-items-center">
      <ion-button class="img-pickers" color="primary" fill="outline" (click)="pickImage()">
        <ion-icon name="image-outline"></ion-icon>
        Pick an image
      </ion-button>
      <ion-button class="img-pickers" color="danger" fill="outline" (click)="discardImage()">
        <ion-icon name="aperture"></ion-icon>
        Discard image
      </ion-button>
    </ion-row>
  </div>
  <form *ngIf="page=='Create'" #log="ngForm" (ngSubmit)="onCreate()" novalidate>
    <div *ngIf="type=='Piece'">
      <div class="input-div">
        <ion-label class="subtext">Events</ion-label>
        <ion-item>
          <ion-select name="eventId" [(ngModel)]="eventId">
            <ion-select-option *ngFor="let e of events" value='{{e.id}}'>{{e.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="input-div">
        <ion-label class="subtext">Authors</ion-label>
        <ion-item>
          <ion-select name="authorId" [(ngModel)]="authorId">
            <ion-select-option *ngFor="let a of authors" value='{{a.id}}'>{{a.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
    <div class="input-div">
      <ion-label class="subtext">{{type}} name</ion-label>
      <ion-item>
        <ion-input [(ngModel)]="name" name="name" required placeholder="{{type}} name"></ion-input>
      </ion-item>
    </div>
    <div class="input-div">
      <ion-label class="subtext">{{type}} description</ion-label>
      <ion-item>
        <ion-textarea [(ngModel)]="description" name="description" required
          placeholder="{{type}} description"></ion-textarea>
      </ion-item>
    </div>
    <ion-button class="submit" type="submit">Create</ion-button>
  </form>
  <form *ngIf="page=='Update'" #log="ngForm" (ngSubmit)="onUpdate()" novalidate>
    <div *ngIf="type=='Piece'">
      <div class="input-div">
        <ion-label class="subtext">Events</ion-label>
        <ion-item>
          <ion-select name="eventId" [(ngModel)]="eventId">
            <ion-select-option *ngFor="let e of events" value='{{e.id}}'>{{e.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="input-div">
        <ion-label class="subtext">Authors</ion-label>
        <ion-item>
          <ion-select name="authorId" [(ngModel)]="authorId">
            <ion-select-option *ngFor="let a of authors" value='{{a.id}}'>{{a.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
    <div class="input-div">
      <ion-label class="subtext">{{type}} name</ion-label>
      <ion-item>
        <ion-input [(ngModel)]="name" name="name" required placeholder="{{type}} name"></ion-input>
      </ion-item>
    </div>
    <div class="input-div">
      <ion-label class="subtext">{{type}} description</ion-label>
      <ion-item>
        <ion-textarea [(ngModel)]="description" name="description" required
          placeholder="{{type}} description"></ion-textarea>
      </ion-item>
    </div>
    <ion-button class="submit" type="submit">Update</ion-button>
  </form>
</div>