<app-menu></app-menu>

<div class="ion-page" id="main-content">
  <app-header></app-header>
  <ion-content *ngIf="event" class="ion-padding">
    <app-top-part title='{{event.name}}'></app-top-part>
    <div>
      <ion-img class="img-div" src="../../assets/images/mar.jpg"></ion-img>
    </div>
    <ion-list class="list">
      <ion-item>
        <ion-label class="subtext">{{event.category}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="subtext">Auditorio Alfredo Kraus</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="subtext">{{event.date}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-button href="https://ofgc.entrees.es/janto/">Buy tickets</ion-button>
    <div class="subtitle-div">
      <ion-title>Description</ion-title>
    </div>
    <div class="text-div">
      <ion-text>
        {{event.description}}
      </ion-text>
    </div>
    <div class="subtitle-div">
      <ion-title>Musicians</ion-title>
    </div>
    <ion-card *ngFor="let e of event.musicians" (click)="goToMusician(e.id)">
      <img alt="Silhouette of mountains" src="../../assets/images/elmarhombre.jpg" />
      <ion-card-header>
        <ion-card-title>{{e.name}}</ion-card-title>
        <ion-card-subtitle>{{e.pivot.category}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <div class="subtitle-div-pieces">
      <ion-title>Pieces</ion-title>
    </div>
    <ion-accordion-group class="ion-padding">
      <ion-accordion *ngFor="let p of event.pieces">
        <ion-item slot="header">
          <ion-label>{{p.name}}</ion-label>
        </ion-item>
        <div class="accordion-info ion-padding" slot="content">
          {{p.description}}
        </div>
        <div class="accordion-info ion-padding" (click)="goToAuthor(p.author.id)" slot="content">
          <ion-button>Go to author</ion-button>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-content>

</div>