<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-title>OFGC</ion-title>
    <ion-menu-button color="light"></ion-menu-button>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="title-div">
      <ion-row>
        <ion-col>
          <ion-title>El Mar</ion-title>
        </ion-col>
        <ion-col>
          <ion-title class="date">04/11/22</ion-title>
        </ion-col>
      </ion-row>
    </div>
    <div>
      <ion-img class="img-div" src="../../assets/images/mar.jpg"></ion-img>
    </div>
    <ion-list class="list">
      <ion-item>
        <ion-label class="subtext">Concierto de temporada</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="subtext">Auditorio Alfredo Kraus</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="subtext">20:00</ion-label>
      </ion-item>
    </ion-list>
    <ion-button>Comprar entradas</ion-button>
    <div class="subtitle-div">
      <ion-title>Descripcion</ion-title>
    </div>
    <div class="text-div">
      <ion-text>En su debut con la OFGC, el británico Ben Glassberg ha confeccionado un programa con El mar de Debussy
        como pieza eje, y que incluye la Obertura de Beatriz y Benedicto de Berlioz y la Pavana de Fauré. Como solista,
        también en su presentación con la OFGC, tendremos al brillante fagotista franco-chileno Guilhaume Santana, que
        ha
        sido Fagot Principal de la Deutsche Radio Philharmonie, la Orchestra Mozart y la Orquesta del Festival de
        Lucerna,
        además de invitado habitual de conjuntos del prestigio de la Orquesta Filarmónica de Berlín,
      </ion-text>
    </div>
    <div class="subtitle-div">
      <ion-title>Musicos</ion-title>
    </div>
    <ion-card>
      <img alt="Silhouette of mountains" src="../../assets/images/elmarhombre.jpg" />
      <ion-card-header>
        <ion-card-title>Juan Miguel Rodríguez</ion-card-title>
        <ion-card-subtitle>Director</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <div class="subtitle-div">
      <ion-title>Pieces</ion-title>
    </div>
  </ion-content>
</div>