<app-menu></app-menu>

<div class="ion-page" id="main-content">
  <app-header></app-header>
  <ion-content class="ion-padding">
    <div>
      <app-top-part title="Events"></app-top-part>
      <ion-searchbar [(ngModel)]="filterTerm" name="filterTerm"></ion-searchbar>
    </div>
    <div class="ion-padding">
      <iframe width="330" height="180" src="https://www.youtube.com/embed/6AG_yNKfuz8" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <ion-row *ngFor="let e of events | filter:filterTerm">
      <app-card [element]=e type="event"></app-card>
    </ion-row>
    <ion-button *ngIf="isLoggedIn" class="create-button" expand="full" (click)="createEvent()">Create</ion-button>
  </ion-content>
</div>

<div>
  <app-tab></app-tab>
</div>