<app-menu></app-menu>
<div class="ion-page" id="main-content">
  <app-header inApp=true></app-header>
  <ion-content class="ion-padding">
    <div>
      <app-top-part title="Register"></app-top-part>
    </div>
    <div class="ion-padding">
      <form #log="ngForm" (ngSubmit)="onRegister()" novalidate>
        <div class="input-div">
          <ion-label class="subtext">Username</ion-label>
          <ion-item>
            <ion-input [(ngModel)]="name" name="userName" required placeholder="Enter your username"></ion-input>
          </ion-item>
        </div>
        <div class="input-div">
          <ion-label class="subtext">Password</ion-label>
          <ion-item>
            <ion-input [(ngModel)]="password" name="password" required placeholder="Enter your password"></ion-input>
          </ion-item>
        </div>
        <div class="input-div">
          <ion-label class="subtext">Confirm Password</ion-label>
          <ion-item>
            <ion-input [(ngModel)]="confPassword" name="confPassword" required
              placeholder="Confirm your password"></ion-input>
          </ion-item>
        </div>
        <div class="input-div">
          <ion-label class="subtext">Email</ion-label>
          <ion-item>
            <ion-input [(ngModel)]="email" name="email" required placeholder="Enter your email"></ion-input>
          </ion-item>
        </div>
        <ion-button type="submit">Register </ion-button>
      </form>
    </div>
  </ion-content>
</div>